[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
pytest = "*"
mysql-connector-python = "*"
lxml = "*"
selenium = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.6"
