<html lang="en" dir="ltr"><head>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="DataTables/DataTables-1.10.24/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="DataTables/Buttons-1.7.0/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="DataTables/FixedHeader-3.1.8/css/fixedHeader.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="DataTables/Scroller-2.0.3/css/scroller.bootstrap4.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" type="image/jpg" href="images/favicon.ico">
    <title>Log In:</title>
  </head>
  <body>

    <!-- Title Bar container -->
    <div id="titleBar" class="d-flex justify-content-center" style="
    background-color: #23070069;
">
      <h1 style="font-family:Georgia;font-weight:bold;text-align:center;">Quotations from Johnson's Dictionary Search Engine</h1>
    </div>

    <div class="loginFormDiv">
      <section class="loginWrapper">
        <form class="loginForm" id="loginForm" method="POST" action="login.php">
          <input placeholder="Username" id="username" name="username" type="text" autocapitalize="off" autocorrect="off" required="">
          <input placeholder="Password" id="password" name="password" type="password" required="">
          <button name="submit" id="submit" type="submit">Sign In</button>
        </form>
      </section>
    </div>

    <!-- TODO: CHANGE JQUERY TO PUBLIC 3.6.0 PACKAGE BEFORE DELIVERING -->
    <script src="js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="DataTables/DataTables-1.10.24/js/jquery.dataTables.min.js" defer=""></script>
    <script type="text/javascript" src="DataTables/DataTables-1.10.24/js/dataTables.bootstrap4.min.js" defer=""></script>
    <script type="text/javascript" src="DataTables/Buttons-1.7.0/js/dataTables.buttons.min.js" defer=""></script>
    <script type="text/javascript" src="DataTables/Buttons-1.7.0/js/buttons.bootstrap4.min.js" defer=""></script>
    <script type="text/javascript" src="DataTables/FixedHeader-3.1.8/js/dataTables.fixedHeader.min.js" defer=""></script>
    <script type="text/javascript" src="DataTables/Scroller-2.0.3/js/dataTables.scroller.min.js" defer=""></script>
    <script src="js/FileSaver.js"></script>
    <script src="js/scripts.js"></script>
  
</body></html>